
  <head>
        <title>Let's Get physical!</title>

        <meta property="og:url" content="http://hackathonletsgetphysical.apphb.com/#/home" />
        <meta property="og:image" content="http://hackathonletsgetphysical.apphb.com/Images/lgp_small.png" />
        <meta property="fb:app_id" content="582451755180049" />
        <meta property="og:title" content="Making you a better friend" />
        <meta property="og:site_name" content="Lets's Get Physical" />
        <meta property="og:description" content="Find out which facebook friends you should be meeting in person" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>

</head>

<div class="jumbotron">
    <img src="/Images/lgp_medium.png" />
    <h3>
        Let's Get Physical
    </h3>
    <p>
        making you a better friend
    </p>
    <div>
    </div>
    <p>
    </p>
    <p ng-show="!loggedIn()"><button class="btn btn-primary btn-lg" ng-click="login()">Log in with Facebook</button></p>
    <p ng-show="loggedIn()"><button class="btn btn-primary btn-lg" ng-click="logout()">Log out</button></p>
</div>


<!----
<h1>Let's Get Physical</h1>
      <ul>
          <li><a ui-sref="test">Test</a></li>
          <li><a ui-sref="login">Social Login</a></li>
          <li><a ui-sref="leaderboard">Leaderboard</a></li>
          <li ng-repeat="i in [1, 2, 3, 4, 5]"><a ui-sref="friend({ index: {{i}} })">Friend #{{i}}</a></li>
      </ul>
</body>
</html>
<!-->
