<!DOCTYPE html>
<html lang="en">
  
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
    <div class="jumbotron">
      <h3>
        Let's Get Physical
      </h3>
      <p>
        making you a better friend
      </p>
      <div>
      </div>
      <p>
      </p>
      <p>
        <!---<a class="btn btn-primary btn-lg" href="screen-63b8969c73.html">Sign in with facebook</a>--->
        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true"></div>
      </p>
    </div>



<h1>Let's Get Physical</h1>
<a ui-sref="test">Test</a>
<a ui-sref="login">Social Login</a>
<a ui-sref="leaderboard">Leaderboard</a>

</body>
</html>
