
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<div class="jumbotron">
    <img src="/Images/lgp_small.png" />
    <h3>
        Let's Get Physical
    </h3>
    <p>
        making you a better friend
    </p>
    <div>
    </div>
    <p>
    </p>
    <p ng-show="!loggedIn()"><button class="btn btn-primary btn-lg" ng-click="login()">Log in with Facebook</button></p>
    <p ng-show="loggedIn()"><button class="btn btn-primary btn-lg" ng-click="logout()">Log out</button></p>
</div>


<!----
<h1>Let's Get Physical</h1>
      <ul>
          <li><a ui-sref="test">Test</a></li>
          <li><a ui-sref="login">Social Login</a></li>
          <li><a ui-sref="leaderboard">Leaderboard</a></li>
          <li ng-repeat="i in [1, 2, 3, 4, 5]"><a ui-sref="friend({ index: {{i}} })">Friend #{{i}}</a></li>
      </ul>
</body>
</html>
<!-->
