<div ng-show="friendInfoCards" class="container">
<div ng-hide="friendInfoCards">
    <i class="fa fa-spinner icon-animate"></i>
</div>
<span class="label label-primary">{{index}}</span>
    <h3 style="display:inline-flex;">
        {{friendInfoCards.FullName}}
    </h3>
    <div>
        {{friendInfoCards.LastSocialUpdateMetadata}}
    </div>
    <div class="center">
        <img src="{{friendInfoCards.ProfilePictureImagePath}}" style="padding-bottom:10px;">
      <table class="table">
        <tbody>
          <tr>
            <td>
              Physical
            </td>
            <td>
              Digital
            </td>
          </tr>
          <tr>
            <td><span ng-class="label label-success : {{friendInfoCards.PhysicalInteractionScore}} 
            >= {{friendInfoCards.VirtualInteractionScore}}, label label-danger: 
            {{friendInfoCards.PhysicalInteractionScore}} < {{friendInfoCards.VirtualInteractionScore}}">
            </span>
            </td>
            <td><span ng-class="label label-danger : {{friendInfoCards.PhysicalInteractionScore}} 
            >= {{friendInfoCards.VirtualInteractionScore}}, label label-success: 
            {{friendInfoCards.PhysicalInteractionScore}} < {{friendInfoCards.VirtualInteractionScore}}">
            </span></td>
          </tr>
        </tbody>
      </table>

        <a class="btn btn-success" ng-click="sendMessage()">Send Message</a> <br>

        <span class="muted">You were last in touch with {{friendInfoCards.FullName}} {{friendInfoCards.LastInteractionTime}}</span>
    </div>
    <hr>
    <div class="center">
        <ul class="pagination">
            <li>
                <button class="btn btn-link" ui-sref="leaderboard({ index: index - 1 })" ng-class="{disabled: index <= 1}">Prev</button>
                <button class="btn btn-link" ui-sref="leaderboard({ index: index + 1 })">Next</button>
            </li>
        </ul>
    </div>
    <a class="btn btn-primary" ng-click="logout();" href="#">Logout</a>

</div>

