    <div class="center" ng-hide="friendInfoCards">
        <i class="fa fa-spinner fa-5x fa-spin"></i>
    </div>
    <div ng-show="friendInfoCards" class="container">
    <span class="label label-primary"># {{friendInfoCards.FriendRank}}</span>
    <h3 style="display:inline-flex;">
        {{friendInfoCards.FullName}}
    </h3>
    <div>
        {{userExtraInfo.LastStatusUpdate}}
        <a class="btn btn-primary" ng-click="like()">Logout</a>
    </div>
    <div class="center" ng-swipe-left="gotoNext()" ng-swipe-right="gotoPrevious()">
        <img src="{{friendInfoCards.ProfilePictureImagePath}}" style="padding-bottom:10px;">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Physical
                    </td>
                    <td>
                        Digital
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="label label-success" ng-class="{'label-danger': friendInfoCards.PhysicalInteractionScore < friendInfoCards.VirtualInteractionScore }" >
                            {{friendInfoCards.PhysicalInteractionScore}}
                        </span>
                    </td>
                    <td>
                        <span class="label label-success" ng-class="{'label-danger' : friendInfoCards.PhysicalInteractionScore >= friendInfoCards.VirtualInteractionScore }" >
                            {{friendInfoCards.VirtualInteractionScore}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-success" ng-click="suggestActivity()">Suggest Activity</a>
        <a class="btn btn-success" ng-click="sendMessage()">Send Message</a> <br>

        <span class="muted">You were last in touch with {{friendInfoCards.FullName}} {{friendInfoCards.LastInteractionTime}}</span>
    </div>
    <hr>
    <div class="center">
        <ul class="pagination">
            <li>
                <button class="btn btn-link" ui-sref="leaderboard({ index: index - 1 })" ng-class="{disabled: index <= 1}">Prev</button>
                <button class="btn btn-link" ui-sref="leaderboard({ index: index + 1 })">Next</button>
            </li>
        </ul>
    </div>
    <a class="btn btn-primary" ng-click="logout();" href="#">Logout</a>

</div>

