<html>
    <head>
        <title>Hey Friend!</title>

        <meta property="og:url" content="http://hackathonletsgetphysical.apphb.com/Client/partials/send_message_static.html" />
        <meta property="og:image" content="http://hackathonletsgetphysical.apphb.com/Images/lgp_small.png" />
        <meta property="fb:app_id" content="582451755180049" />
        <meta property="og:title" content="Hey Friend!" />
        <meta property="og:site_name" content="Lets's Get Physical" />
        <meta property="og:description" content="Send a message to your friend and save your relationship!" />
    </head>

    <body>
        Use Let's Get Physical to check on your friendships
    </body>

</html>