<div class="container">
    <div ng-show="!done">
        <img src="/Images/ajax_load.gif" /><br />
        <span>Loading user's information...</span><span ng-show="userInfo && step > 0">Done</span><br />
        <span ng-show="userInfo && step > 0">Analyzing shared interests between you and {{userInfo.FullName}}...</span><span ng-show="step > 1">Done!</span><br />
        <span ng-show="step > 1">Gathering available options...</span><span ng-show="step > 2">Done!</span><br />
        <span ng-show="step > 2">Curating and finalizing Suggestions...</span><br />
    </div>
    <div ng-show="done">
        <div class="row">
            <p>Here are suggested activities for You and {{userInfo.FullName}}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Activity Type</th>
                        <th>When</th>
                        <th>Where and What</th>
                        <th>Action</th>
                        <th>Facebook</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    <tr ng-repeat="activity in activities">
                        <td>{{activity.type}}</td>
                        <td>{{activity.schedule}}</td>
                        <td>{{activity.info}}</td>
                        <td>
                            <button class="btn btn-success" ng-click="doAction(activity.actionUrl)" ng-class="{disabled: activity.actionDisabled}">
                                {{activity.actionCaption}}
                            </button>
                        </td>
                        <td><button class="btn btn-primary">Create Event</button></td>
                    </tr>
                </tbody>
            </table>
            <p>You should also invite</p>
            <ul>
                <li ng-repeat="friend in friends">
                    {{friend.FullName}}
                </li>
            </ul>
            <p>Have fun!</p>
            <button class="btn btn-primary">Share on Facebook!</button>
            <button class="btn btn-link" ui-sref="leaderboard({index: 1})">Back to Leaderboard</button>
        </div>
    </div>
</div>